.carousel-image {
    max-height: 400px; /* Altura máxima del carrusel */
    width: auto; /* Ajusta el ancho automáticamente */
    margin: 0 auto; /* Centra la imagen */
    object-fit: cover; /* Recorta la imagen para que no se deforme */
}
