body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://<tu-usuario>.github.io/mi-repositorio/img/nina/365dias.jpg') no-repeat center center/cover; /* Usar una imagen o color de fondo */
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente si la imagen es oscura */
    overflow: hidden;
}

.background-text p {
    font-size: 7px;
    line-height: 7px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    background-image: url('https://<tu-usuario>.github.io/mi-repositorio/img/nina/365dias.jpg'); /* Imagen con letras que aparecen sobre fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
    width: 90%;
    max-width: 400px;
    color: rgba(240, 248, 255, 0.9);
    text-align: center;
}

.login-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.login-container h1 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgba(224, 207, 207, 0.3);
    border-radius: 4px;
}

form button {
    background: #07bfc5b2;
    color: white;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: rgba(4, 158, 138, 0.8);
}

#message {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

#message.success {
    color: green;
}

#message.error {
    color: red;
}


/* Responsiveness en pantallas pequeñas */
@media (max-width: 768px) {

    .background-text p {
        font-size: 3px; /* Ajusta el tamaño del texto de fondo de acuerdo con el ancho de la ventana */
        line-height: 4px;
    }

    .login-container {
        padding: 15px;
        width: 95%;
    }

    .login-container img {
        width: 150px;
        height: 150px;
    }

    .login-container h1 {
        font-size: 1.2rem;
    }

    form input, form button {
        width: 100%;
    }
}