.stroke-text {
    font-size: 48px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #953de7cc;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    border-right: 2px solid #953de7cc;
    animation: typing 3s steps(30, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #953de7cc;
    }
}
