body {
    font-family: Arial, sans-serif;
    background-color: #8b8bd6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards; /* Transición suave al cargar */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login-container {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%; /* Cambiado para ser responsive */
    max-width: 400px; /* Limita el ancho máximo */
    text-align: center;
    color: rgba(240, 248, 255, 0.562);
    background: rgba(0, 0, 0, 0.1); /* Fondo blanco */
}

.login-container img {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 15px; /* Espaciado entre la imagen y el texto */
    border-radius: 50%; /* Hace que sea redonda */
    object-fit: cover; /* Recorta la imagen si es necesario */
}

.login-container h1 {
    font-size: 1.5rem; /* Tamaño responsivo */
    color: #6b5b95; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior */
}

#countdown {
    font-size: 1rem; /* Ajusta el tamaño del texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
}

input {
    display: block;
    width: 80%;
    margin: 10px auto; /* Centra los inputs */
    padding: 10px;
    border: 1px solid rgba(224, 207, 207, 0.3);
    border-radius: 4px;
}

button {
    background: #07bfc5b2;
    color: white;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgba(4, 158, 138, 0.8);
}

#message {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

#message.success {
    color: green;
}

#message.error {
    color: red;
}
